<!DOCTYPE html>
<htmnl>

   <head>
      <title>BGP Neighbors, By Dom Farnham</title>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>Another Microservice By <a href="https://twitter.com/JSCodebook">Dom Farnham</a></h1>
        <p>
          A microservice which provides support information quickly. 
        </p>
        <p>
          Provides network operations engineers with the intial information they need in order to respond to a BGP Neighbor status change.
        </p>
        <h4>
          Example usage:
        </h4>
        <p>
          <a href="https://bgpneighbors.glitch.me/neighbor/1.1.1.1">https://bgpneighbors.glitch.me/neighbor/1.1.1.1</a>
        </p>
        <h4>
          Example output:
        </h4>
        <p>
          {
            "hostname": "router1",
            "ip": "1.1.1.1",
            "asn": "64888",
            "cid": "xxxx-xxxx-xxxx",
            "supportDoc": "https://example.com/router1.pdf"
          }
        </p>
        <h4>
          Demo:
        </h4>
        <p>
          <a href="https://bgpneighbors.glitch.me/neighbor/1.1.1.1">https://bgpneighbors.glitch.me/neighbor/1.1.1.1</a>
        </p>
        <h2>
          <a href="mailto:dom@javascriptcodebook.com">Contact me</a> | <a href="https://github.com/domfarnham">My GitHub</a>
        </h2>
      </div>
   </body>

</html>
