<!DOCTYPE html>
<htmnl>

   <head>
      <titleSBGP Neighbors, By Dom.Farnham()</title>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>Another Microservice By <a href="https://twitter.com/JSCodebook">dom.farnham()</a></h1>
        <p>
          A microservice which provides support information quickly. 
        </p>
       <p>
          Provides network operations engineers with the intial information they need in order to respond to a BGP Neighbor status change.
        </p>
               </p>
        <h4>
          Example usage:
        </h4>
        <p>
          
        </p>
        <h4>
          Example output:
        </h4>
        <p>
          
        </p>
        <h4>
          Demo:
        </h4>
        <p>
          
        </p>
        <h2>
          <a href="mailto:dom@javascriptcodebook.com">Contact me</a> | <a href="https://github.com/domfarnham">My GitHub</a>
        </h2>
      </div>
   </body>

</html>
